@model ViewModel

<div class="groupfields encryptpass">


	

	<input type="checkbox" id="chkPasswordProtected" onClick="EnablePasswordProtected(this)" name="chkPasswordProtected" >

	<em>
		Set Password
	</em>



	<input type="text" id="txtPassword" name="txtPassword" placeholder="Password" style="display: none"  class="form-control" aria-describedby="basic-addon2" />

</div>		<br />